@import "tailwindcss";

@theme {
  --font-sans: "Times New Roman", Times, serif;
}

body {
  @apply font-sans;
}

.katex {
  @apply text-[1.1em];
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
  padding-bottom: 0.25rem;
}
